<div>
  <div class="meta">
    <div class="date">
      <%= is_category() ? __('category') : '' %>
      <%= is_tag() ? __('tag') : '' %>
    </div>

    <h2 class="title<%= theme.capitalize_tags && is_tag() ? ' text-capitalize' : '' %>">
      <%= is_category() ? page.category : '' %>
      <%= is_tag() ? (theme.hashtag_prefix_before_tags ? '#' : '') + page.tag : '' %>
      <%= is_archive() ? __('archives') : '' %>
    </h2>
  </div>
</div>

<div class="container">
  <%
  // 过滤当前语言的文章
  let currentPosts = page.posts.filter(post => {
    return post.lang === page.lang;
  });
  %>
  <%- partial('_partial/post-list', { posts: currentPosts, isArchives: true }) %>
</div>

<%- partial('_partial/paginator') %>
